body {
  margin: 0;
  padding: 0;
  background: #000 top center repeat;
  background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.12) 50%, rgba(255,255,255,0) 100% ), -webkit-radial-gradient(center 250px, 750px 750px, rgba(255,255,255,0.12), rgba(255,255,255,0)), url(wood.jpg);
  background-image:      -o-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.12) 50%, rgba(255,255,255,0) 100% ), -o-radial-gradient(center 250px, 750px 750px, rgba(255,255,255,0.1), rgba(255,255,255,0)), url(wood.jpg);
  background-image:    -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.12) 50%, rgba(255,255,255,0) 100% ), -moz-radial-gradient(center 250px, circle closest-corner, rgba(255,255,255,0.1), rgba(255,255,255,0)), url(wood.jpg);
/*  background-attachment: fixed;*/
}

#title {
  display: block;
  margin: 0 auto;
  height: 500px;
}

section {
  width: 575px;
  display: block;
  margin: 0 auto 4em auto;
}

section header {
  font-family: 'Swanky and Moo Moo', cursive;
  color: rgba(255,255,255,0.5);
  padding-left: 0.5em;
  margin-bottom: -1em;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
}

section pre {
  background: rgba(0,0,0,0.55);
  border-radius: 5px;
  font-size: 11pt;
  color: rgba(255,255,255,0.9);
  margin: 0;
  padding: 1em 1.3em;
}

h1 {
  display: block;
  font-weight: normal;
  text-align: center;
  font-family: 'Swanky and Moo Moo', cursive;
  color: rgba(255,255,255,0.8);
  text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
  margin: 1em auto 0.5em auto;
}


@-webkit-keyframes pulse {
  from { opacity: auto; }
  50% { opacity: 0.5; }
  to { opacity: auto; }
}

@-moz-keyframes pulse {
  from { opacity: auto; }
  50% { opacity: 0.5; }
  to { opacity: auto; }
}

pre:hover span.highlight {
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-iteration-count: 3;
  -moz-animation-name: pulse;
  -moz-animation-duration: 0.5s;
  -moz-animation-iteration-count: 3;
}
