#named-generators
  %h3 Named generators
  .alert.alert-warning
    %p
      %i.fa.fa-exclamation-triangle
      %strong TODO: Finish this feature
    %p
      This feature is due to drop in v0.6.0
    %p
      The curren plan is to make named URL generators available that have default params for the controller, action, method, and any other route defaults. Only missing attributes like
      %code :id
      (etc) will need to be passed in, allowing POJO models objects to be provided un-molested.
      %a.alert-link{href: 'https://github.com/kieran/barista/issues/27'} this issue on GH
      if this is a feature you need sooner rather than later.
