#overview
  %h2 Overview
  %p Barista is a URL router &amp; generator, designed to help you decouple routing from your framework's application logic. Its function can be roughly split into two parts: parsing URLs into actionable parameters, and generating URLs from parameters.
  %p Barista is not concerned with dispatching requests, nor does it have any built-in concept of 404s - although it's trivial to wire up appropriate actions in each case.
  %p You can find it in the wild as the primary Geddy router.
