#keys
  %h3 Route keys
  %pre.language-javascript
    %a.btn.btn-default{href:'#try'} try it
    %code
      :preserve
        #{File.read 'templates/routes/keys1.js'}
  %pre.language-coffeescript
    %a.btn.btn-default{href:'#try'} try it
    %code
      :preserve
        #{File.read 'templates/routes/keys1.coffee'}
