#keys
  %h3 Route keys
  %pre.language-javascript
    %code
      :preserve
        #{File.read 'templates/routes/keys1.js'}
  %pre.language-coffeescript
    %code
      :preserve
        #{File.read 'templates/routes/keys1.coffee'}
